{% extends "hackernews/base.html" %}
{% load static %}
{%  block title %}{{ story.title }}{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-sm-8 blog-main">
            <h5>{{ story.title }}</h5>
            <h6>Posted on: {{ story.time }}</h6>
            <h6>Posted by: <a href={% url 'user' story.by %}>{{ story.by}}</a></h6>
            <h6>Link: <a href={{ story.url }}>{{ story.url }}</a></h6>

            <p id={{ story.id }}>
                <script src={% static "hackernews/getcomments.js" %}></script>
            </p>
            {% for comment in story.comments %}
            <ul>{{ comment }}</ul>
            {% endfor %}
    </div>
    </div>
{%  endblock %}