{% extends "hackernews/base.html" %}
{%  block title %}{% endblock %}
{% block content %}
<h3>Top Stories</h3>
    <div class="row">
    <div class="col-sm-8 blog-main">
    <ul>
    {% for story in top_stories %}
        <div class="blog-post">
            <h4 class="blog-post-title">{{ story.title }}</h4>
            <p><a href={% url 'discussion' story.id %}>Discussion</a></p>
        </div>
    {% endfor %}
    </ul>
    </div>
    </div>
{%  endblock %}