{% extends "hackernews/base.html" %}
{%  block title %}{{ user.id }}{% endblock %}
{% block content %}
<h5>User ID: {{ user.id }}</h5>
<h6>Account created: {{ user.created }}</h6>
<h6>Points: {{ user.karma }}</h6>
    <div class="row">
    <div class="col-sm-8 blog-main">
    About: {{ user.about }}
    </div>
    </div>
{%  endblock %}